/* csshint-disable */
.paper-item img {
    display: inline-block;
    vertical-align: top;
}
.paper-item .paper-content {
    display: inline-block;
    width: 715px;
    margin-left: 16px;
}
.paper-item .paper-content .title {
    font-size: 20px;
    color: #006AFF;
    letter-spacing: 0;
    line-height: 26px;
}
.paper-item .paper-content .date {
    padding: 20px 0 10px 0;
    font-size: 16px;
    color: #999;
    letter-spacing: 0;
    line-height: 16px;
}

.paper-item .paper-content .text {
    font-size: 16px;
    color: #999;
    line-height: 30px;
}

.paper-item + .paper-item {
    margin-top: 40px;
}

.submission-btn-group {
    margin-top: 40px;
}
.submission-btn-group .submission-btn {
    display: inline-block;
    width: 120px;
    border: 1px solid #006AFF;
    text-align: center;
    padding: 6px 34px;
    font-size: 14px;
    color: #006AFF;
}
.submission-btn + .submission-btn {
    margin-left: 40px;
}
.must-start {
    color: #f14845;
}

.file-upload {
    margin-bottom: 10px;
}
#car .rank-table {
    text-align: center;
    margin-top: 30px;
    border: 1px solid #e6ecf3;
}
#car .rank-head-tr {
    background-color: rgba(0, 0, 0, .8);
    font-size: 18px;
    color: #fff;
    letter-spacing: 0;
}
/* #car .rank-th {
    display: inline-block;
    text-align: center;
    width: 580px;
    height: 40px;
    line-height: 40px;
} */
#car .rank-th-lane {
    width: 70px;
}
#car .rank-th-lane-small {
    width: 50px;
}
#car .rank-th-lane-middle {
    width: 90px;
}
#car .rank-th-lane-large {
    width: 190px;
}
#car .rank-table-body {
    font-size: 14px;
}
#car .rank-table-body .rank-tr:nth-of-type(even) {
    background-color: #f5f6f8;
}
#car .rank-table-body .rank-td {
    display: inline-block;
    line-height: 30px;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
    font-size: 12px;
}
#car .rank-table-body .rank-td-lane {
    width: 70px;
}
#car .rank-table-body .rank-td-lane-small {
    width: 50px;
}
#car .rank-table-body .rank-td-lane-middle {
    width: 90px;
}
#car .rank-table-body .rank-td-lane-large {
    width: 190px;
    /* overflow-x: auto; */
}
#car .rank-td + .rank-td {
    border-left: 1px solid #e6ecf3;
}
.rank-td-last {
    width: 1180px;
}
.nav-tabs .nav-item-task {
    margin-bottom: -1px;
}
.nav-item-task .nav-link.sleep:hover,
#car .nav-item-task:hover {
    border: 0;
}
.none-display {
    display: none;
}
.fail-text {
    color:#c82333;
}
.head-text-small {
    font-size: 18px;
    padding-left: 15px;
}
.red {
    color: #e64c4c;
}
.left-content-wrapper {
    margin-top: 20px;
}
.head-text-small {
    font-weight: 400;
    cursor: pointer;
}
.head-text-small.current {
    color: #16c387;
}
.hide {
    display: none;
}
.paper-item img {
    display: inline-block;
    vertical-align: top;
}
.paper-item .paper-content {
    display: inline-block;
    width: 715px;
    margin-left: 16px;
}
.paper-item .paper-content .title {
    font-size: 20px;
    color: #006AFF;
    letter-spacing: 0;
    line-height: 26px;
}
.paper-item .paper-content .date {
    padding: 20px 0 10px 0;
    font-size: 16px;
    color: #999;
    letter-spacing: 0;
    line-height: 16px;
}

.paper-item .paper-content .text {
    font-size: 16px;
    color: #999;
    line-height: 30px;
}

.paper-item + .paper-item {
    margin-top: 40px;
}

.submission-btn-group {
    margin-top: 40px;
}
.submission-btn-group .submission-btn {
    display: inline-block;
    width: 120px;
    border: 1px solid #006AFF;
    text-align: center;
    padding: 6px 34px;
    font-size: 14px;
    color: #006AFF;
}
.submission-btn + .submission-btn {
    margin-left: 40px;
}
.must-start {
    color: #f14845;
}

.file-upload {
    margin-bottom: 10px;
}
.rank-table {
    text-align: center;
    margin-top: 30px;
    border: 1px solid #e6ecf3;
}
.rank-head-tr {
    background-color: rgba(0, 0, 0, .8);
    font-size: 18px;
    color: #fff;
    letter-spacing: 0;
}
.rank-th {
    display: inline-block;
    text-align: center;
    width: 580px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
}
.rank-th-lane {
    width: 360px;
}
.rank-th-lane-small {
    width: 118px;
}
.rank-table-body {
    font-size: 14px;
}
.rank-table-body .rank-tr:nth-of-type(even) {
    background-color: #f5f6f8;
}
.rank-table-body .rank-td {
    display: inline-block;
    text-align: center;
    width: 280px;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.rank-table-body .rank-td-lane {
    width: 360px;
}
.rank-table-body .rank-td-lane-small {
    width: 118px;
}

.rank-td + .rank-td {
    border-left: 1px solid #e6ecf3;
}
.rank-td-last {
    width: 1180px;
}
.nav-tabs .nav-item-task {
    margin-bottom: -1px;
}
.nav-item-task .nav-link.sleep:hover,
.nav-item-task:hover {
    border: 0;
}
.none-display {
    display: none;
}
.fail-text {
    color: #c82333;
}
.head-text-small {
    padding-left: 15px;
    font-size: 18px;
}
#trajectory .rank-th.rank-th-lane-small {
    width: 158px;
}
#detection .rank-th.rank-th-lane {
    width: 198px;
}
#detection .rank-table-body .rank-td-lane {
    width: 198px;
}
#trajectory .rank-th {
    width: 105px;
}
#trajectory .rank-td.rank-td-lane-large {
    width: 158px;
}
#trajectory .rank-td {
    width: 105px;
}

#tracking .rank-th {
    width: 198px;
}
#tracking .rank-td {
    width: 198px;
}

#stereo .rank-th.rank-th-lane {
    width: 198px;
}
#stereo .rank-td {
    width: 198px;
}
#scene .rank-td {
    width: 198px;
}

#trajectory .rank-td-link,
#lane .rank-td-link,
#scene .rank-td-link,
#car .rank-td-link,
#self .rank-td-link,
#detection .rank-td-link,
#tracking .rank-td-link,
#stereo .rank-td-link {
    text-align: left;
    width: 100%;
    line-height: 30px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 12px;
    white-space: normal;
}



.tracking {
    line-height: 30px;
}
.stereo {
    line-height: 30px;
}
.scene {
    line-height: 30px;
}
#scene .rank-th-lane {
    width: 398px;
}
#scene .rank-table-body .rank-td-lane {
    width: 398px;
}
.img1{

}
.img1 .rank-td-lane:nth-child(1){
    background: url(/public/img/common/plus-circle.png) no-repeat left;
    background-size: 17px 17px;
    display: inline-block;
}
.img2 .rank-td-lane:nth-child(1){
    background: url(/public/img/common/minus-circle.png) no-repeat left;
    background-size: 17px 17px;
    display: inline-block;
}
.img1 .rank-td-lane-small{
    background: url(/public/img/common/plus-circle.png) no-repeat left;
    background-size: 17px 17px;
    display: inline-block;
}
.img2 .rank-td-lane-small{
    background: url(/public/img/common/minus-circle.png) no-repeat left;
    background-size: 17px 17px;
    display: inline-block;
}
.img2{
    /* width: 1px;
    height: 1px; */
}
/* .img2{
    width: 15px;
    height: 15px;
    background: url(/public/img/common/up.png) no-repeat left;
    background-size: 15px 15px;
    display: inline-block;
} */
